.sign-in-page {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding: 50px;
    background-color: #d9f2ff;
    min-height: 100vh; /* Ensures full-height background */
}

.sign-in-box {
    display: flex; /* Use flexbox for horizontal layout */
    background-color: #ffffff;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    padding: 30px;
    width: 600px; /* Set width of the box */
    margin: 0 auto; /* Center the box */
}

.form-container {
    flex: 1; /* Takes up half of the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensures full width */
}

.image-container {
    flex: 1; /* Takes up the other half of the box */
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector-image {
    margin-left: 30px;
    max-width: 250px; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
}

.form-group {
    margin: 15px 0;
    width: 100%; /* Full width of the parent container */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%; /* Full width of the parent container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    padding: 10px;
    background-color: #03a5fd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width to match input fields */
    margin-top: 10px; /* Add margin for spacing */
    transition: background-color 0.3s;
    margin-left: 11px;
}

.submit-button:hover {
    background-color: #028fdc;
}

.forgot-password-button {
    background: none;
    border: none;
    color: #0078BB;
    cursor: pointer;
    margin-top: 10px;
}

.signup-prompt {
    margin-top: 20px;
    font-size: 16px;
    text-align: center; /* Center align text */
}

.signup-button {
    background: none;
    border: none;
    color: #0078BB;
    cursor: pointer;
    font-weight: bold;
}
